@font-face {
  font-family: party;
  src: url(../fonts/Fun\ Party.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: party;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(61, 255, 255), rgb(82, 81, 81));
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
@keyframes getUp {
  from {
    margin-top: 260px;
  }
  to {
    margin-top: -550px;
  }
}
.balloon-animation {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 60%;
  background-image: url(../images/baloons.png);
  opacity: 50%;
  animation: getUp 4s infinite;
}
.page-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
header {
  font-family: party;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, yellow, rgb(230, 59, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}
.game-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
}

.choice {
  width: 170px;
  height: 60px;
  margin: 20px;
  font-size: 30px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 23px;
  width: 600px;
  height: 200px;
  border-radius: 20px;
}

.playerScore,
.computerScore,
.draw {
  width: 50px;
  height: 15px;
  padding: 5px;
  background-color: white;
  color: black;
  margin-left: 5px;
}

.visibility {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  z-index: 3;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 100vw;
  height: 100vh;
}
.result-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 130px auto;
  width: 70vw;
  height: 70vh;
  background-color: blue;
  border-radius: 20px;
  color: white;
}
.declared-choices {
  margin-top: 150px;
  font-size: 50px;
}
.result {
  margin-top: 100px;
  font-size: 50px;
}
.hidden {
  display: none;
}

.win-result {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/firework.gif);
  background-size: 155%;
  background-position: center;
}

.lose-result {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/skeleton.gif);
  background-size: 100%;
  background-position: center;
}

.draw-result {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/lose.gif);
  background-size: 100%;
  background-position: center;
}
@media (max-width: 700px) {
  .game-choices {
    flex-direction: column;
    margin-top: 100px;
  }
  .choice {
    font-size: 40px;
    width: 250px;
    height: 200px;
  }
  header {
    font-size: 40px;
  }
  .scoreboard {
    flex-direction: column;
    width: 230px;
    margin: 100px auto;
  }
  .visibility {
    height: 100%;
    width: 200%;
  }
  .result-page {
  }
}

@media (max-width: 450px) {
  .page-game {
    width: 125vw;
    height: 150vh;
  }
  .balloon-animation {
    width: 150%;
    height: 200%;
  }
  .win-result,
  .lose-result,
  .draw-result {
    background-size: 500%;
  }
}
